
/* @font-face {
  font-family: "CrimsonPro";
  src: url(./../assets/fonts/CrimsonPro-VariableFont_wght.ttf) format('truetype');
  font-weight: 400; 
}
@font-face {
  font-family: "CrimsonPro";
  src: url(./../assets/fonts/CrimsonPro-Bold.ttf) format('truetype');
  font-weight: 700;
} 
@font-face {
  font-family: "CrimsonPro";
  src: url(./../assets/fonts/CrimsonPro-Italic-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "EBGaramond";
  src: url(./../assets/fonts/EBGaramond-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: "SourceCodePro";
  src: url(./../assets/fonts/SourceCodePro-VariableFont_wght.ttf) format('truetype');
} */
