body.garhis-grotto .anonymous-replaced { background-color: #171710; }
body.garhis-grotto #module-management .package-list .package .package-overview .tag.expand { color: var(--color-text-garhi-primary); }
body.garhis-grotto .message.damage-log.damage { background: #530000; }
body.garhis-grotto .message.damage-log.healing { background: #004900; }

body.garhis-grotto .dice-result .dice-total.success,
body.garhis-grotto .dice-result .dice-total.critical { background: #001000; }
body.garhis-grotto .dice-result .dice-total.failure,
body.garhis-grotto .dice-result .dice-total.fumble { background: #100000; }

body.garhis-grotto .tidy5e-sheet {
    --color-dark-1: var(--color-body-garhi-1);
    --color-dark-2: var(--body-color-garhi-2);
    --color-dark-3: var(--body-color-garhi-3);
    --color-dark-4: var(--body-color-garhi-4);
    --color-dark-5: var(--body-color-garhi-5);
    --color-dark-6: var(--body-color-garhi-6);

    --color-text-dark-1: var(--color-text-garhi-1);
    --color-text-dark-2: var(--color-text-garhi-2);
    --color-text-dark-3: var(--color-text-garhi-3);
    --color-text-dark-4: var(--color-text-garhi-4);
    --color-text-dark-5: var(--color-text-garhi-5);
    --color-text-dark-6: var(--color-text-garhi-6);

    --color-border-dark-1: var(--color-border-garhi-1);
    --color-border-dark-2: var(--color-border-garhi-2);
    --color-border-dark-3: var(--color-border-garhi-3);
    --color-border-dark-4: var(--color-border-garhi-4);
    --color-border-dark-5: var(--color-border-garhi-5);

    --color-text-dark-header: var(--color-text-garhi-header);
    --color-text-dark-primary: var(--color-text-garhi-primary);
    --color-text-dark-secondary: var(--color-text-garhi-secondary);

    --bordercolor: var(--color-border-garhi-secondary);

	--t5e-background: var(--color-body-garhi-1);
	--t5e-faintest-color: rgba(81, 78, 221, 0.05);
	--t5e-faint-color: rgba(15, 6, 23, 0.15);
	--t5e-light-color: rgb(217, 38, 187, 0.4);
	/* --t5e-primary-color: var(--garhis-grotto-color-primary);
	--t5e-secondary-color: var(--garhis-grotto-color-secondary);
	--t5e-tertiary-color: var(--garhis-grotto-color-tertiary);
	--t5e-primary-font-color: var(--color-text-garhi-primary); */

}
/* body.garhis-grotto .window-app.tidy5e-sheet .window-content {
    background: url(../../tidy5e-sheet/images/parchment-texture-top.webp) no-repeat top center / 150% auto, var(--color-body-garhi-bright) url(../../tidy5e-sheet/images/parchment-texture-bottom.webp) no-repeat bottom center / 150% auto;
} */
/* body.garhis-grotto .tidy5e-sheet select { color: var(--t5e-primary-font-color); }
body.garhis-grotto .tidy5e-sheet button {
    color: var(--t5e-primary-font-color);
}
body.garhis-grotto .tidy5e-sheet input::placeholder{ color: var(--color-text-dark-5); }
body.garhis-grotto .tidy5e-sheet .editor {
    color: var(--t5e-primary-font-color);
}
body.garhis-grotto .tidy5e-sheet .editor a.inline-roll,
body.garhis-grotto .tidy5e-sheet .editor a.content-link { background: var(--t5e-content-entity-link-background); } */



body.garhis-grotto .awesomplete > ul {
    background: hsl(224deg 48.39% 6.08%);
    background: linear-gradient(to bottom right, black, hsl(224 48.39% 6.08%));
}

body.garhis-grotto .dnd5e2 .midi-buttons button { background: var(--dnd5e-color-card-tint); }

/* body.garhis-grotto #tokenizer div.menu,
body.garhis-grotto #tokenizer div.view-layer-control { background: var(--dnd5e-color-card); }
body.garhis-grotto #tokenizer div.menu .section,
body.garhis-grotto #tokenizer div.view-layer-control .section { background-color: rgba(255, 255, 255, 0.2); }
body.garhis-grotto #tokenizer div.view-layer-control button:disabled { filter: opacity(0.5); }
body.garhis-grotto #tokenizer div.view-layer-control button.active { color: var(--dnd5e-color-dark); } */

body.garhis-grotto .dae-sheet-header .dae-effect-title input { color: #ffffff; }
body.garhis-grotto .dae-fb-browser {
    background: hsl(224deg 43.33% 5.86%);
    background: linear-gradient(to bottom right, #181c27, hsl(224deg 43.33% 5.86%));
    color: #dddddd;
}
body.garhis-grotto .dae-fb-field-option.selected {
    background-color: #181c27;
    border: 1px solid #ff6400;
}
body.garhis-grotto .dae-fb-field-option:hover { background-color: #111a31; }
body.garhis-grotto .dae-fb-toggle-button { background-color: rgb(75, 75, 75, 0.8); }
body.garhis-grotto .dae-fb-toggle-button.active { background-color: rgb(255, 0, 0, 0.25); }
body.garhis-grotto .dae-fb-tab-button.active {
    background-color: #111a31;
    border-bottom: 2px solid #ff6400;
}

/* body.garhis-grotto .sheet.journal-improvements .sidebar .journal-header .title {
    font-size: var(--font-size-16);
    height: 32px;
    color: var(--color-text-dark-1);
    background: var(--dnd5e-color-parchment);
    font-weight: 700;
  } */

/*Module Fixes*/
.app.simple-calendar .window-header .header-button.control.minimize,
.app.simple-calendar .window-header .header-button.control.pin { display: none; }
.app.simple-calendar .window-header .header-button.control.close { display: block; }
.prosemirror .editor-container .editor-content { padding-left: 0.5rem; }
.dae-effects-table { min-height: 0; }
.dae-effects-tab .dae-priority { align-content: inherit; }
