body.garhis-grotto #sidebar {
	border: 1px solid var(--color-border-garhi-primary);
	background: linear-gradient(to bottom, var(--color-gradient-garhi-sidebar-top), var(--color-gradient-garhi-sidebar-bottom));
}
body.garhis-grotto #actors li.folder > .folder-header,
body.garhis-grotto #items li.folder > .folder-header,
body.garhis-grotto #compendium li.folder > .folder-header,
body.garhis-grotto #scenes li.folder > .folder-header,
body.garhis-grotto #journal li.folder > .folder-header,
body.garhis-grotto #tables li.folder > .folder-header,
body.garhis-grotto #cards li.folder > .folder-header { padding: 1px 6px; }
body.garhis-grotto #actors .directory-item.actor,
body.garhis-grotto #items .directory-item.item,
body.garhis-grotto #journal .directory-item.journalentry,
body.garhis-grotto #tables .directory-item.rolltable {
    position: relative;
    line-height: 24px;
}
body.garhis-grotto #actors .directory-item.actor .thumbnail,
body.garhis-grotto #items .directory-item.item .thumbnail,
body.garhis-grotto #tables .directory-item.rolltable .thumbnail {
    /* clip-path: rect(12px, 48px, 36px, 0); */
    position: relative;
    margin-top: 5px;
	margin-left: 5px;
}
body.garhis-grotto #actors .directory-item.actor .document-name,
body.garhis-grotto #items .directory-item.item .document-name,
body.garhis-grotto #tables .directory-item.rolltable .document-name {
    position: relative;
    padding: 10%, 36px;
}

body.garhis-grotto #scenes .directory-item.scene .document-name{
    line-height: 24px;
}
body.garhis-grotto #scenes .directory-item.scene {
    line-height: 30px;
    height: 30px;
    margin-bottom: 3px;
}

body.garhis-grotto #compendium .directory-item.compendium {
    position: relative;
    line-height: 30px;
    height: unset;
    flex-direction: row;
    align-items: center;
}
body.garhis-grotto .compendium-sidebar .directory-item.compendium .compendium-name {
    max-width: 70%;
    white-space: normal;
    margin-left: 1px;
    margin-right: 0;
    padding-top: 6px;
	padding-bottom: 12px;
    text-align: left;
    display: flex;
}


/* body.garhis-grotto .sidebar-tab.directory,
.sidebar-tab .directory {
    --folder-header-height: calc(1lh + 12px);
    --default-folder-color: var(--garhis-grotto-color-primary);
    background-color: var(--garhis-grotto-color-background);

    & .directory-list {
        --context-menu-z-index: 100000;
		--small-gap: 3px;

        & .folder {
            padding-left: var(--small-gap);
            border: none;
        }

        & .folder-header {
            position: sticky;
            border: none;
            border-top: 1px solid var(--color-border-dark-5);
        }

        & .folder-header>#context-menu,
        & .directory-item #context-menu,
        .window-app & #context-menu {
            --adjusted-context-spacing: calc(100% + 1px);
            z-index: var(--context-menu-z-index);

            &.expand-up,
            &.expand-down {
                top: var(--adjusted-context-spacing);
            }
        }

        & .directory-item {
            &.folder .folder-header {
                background-color: var(--default-folder-color);
            }

            &.folder .context {
                background-color: var(--garhis-grotto-color-background);
            }
        }

        & .subdirectory {
            border-left: 1px solid var(--color-border-dark-5);
            border-bottom: none;
        }

        &>.folder>.folder-header {
            top: 0;

            &+.subdirectory>.folder>.folder-header {
                top: calc(var(--folder-header-height) + var(--small-gap));

                &+.subdirectory>.folder>.folder-header {
                    top: calc(var(--folder-header-height) * 2 + var(--small-gap) * 2);

                    &+.subdirectory>.folder>.folder-header {
                        top: calc(var(--folder-header-height) * 3 + var(--small-gap) * 3);
                    }
                }
            }
        }
    }
} */
